<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search-results">
            <label for="search">Ecoleta (Starter)</label>
            <div class="search field">
                <input type="search" name="search" placeholder="Pesquise por Cidade">
            </div>
            <div class="search field">
                <button type="submit">
                    Buscar
                </button>
            </div>
        </form>