#modal {
    background-color: #220d42e5;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

#modal .content {
    color: white;
    width: 420px;
}

#modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    align-items: center;
}

#modal .header a {
    background-image: url(/extras-aula-1/icones/x.svg);
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 0.01px;
    align-items: center;
}

#modal .header h1 {
    color: white;
    font-size: 42px;
    line-height: 42px;
    align-items: center;
}

#modal form label {
    font-size: 20px;
    line-height: 16px;
    margin-bottom: 16px;
    align-items: center;
    display: block;
    text-align: center;
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    border: none;
    padding: 24px 32px;
    font-size: 16px;
    color: #220b3b;
    margin-bottom: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr
}

#modal button {
    background-color: var(--primary-color);
    border: 0;
    transition: 400ms;
    padding: 24px 32px;
    border-radius: 8px;
    margin-bottom: 14px;
    width: 420px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#modal form button:hover {
    background-color: #2fb85e;
}

#modal.hide {
    display: none;
}